<!-- container for the header -->
<div class="parent-header">
{{> headerNonUser}}
</div>

<!-- container for the content -->
<div class="parent-content">
    <!--BANNER/HERO IMAGE-->
    <div class="banner-block">

        <!--SPIEL BOX-->
        <div class="banner-text-box">
            <p class="banner-text headline">The go-to for students seeking the ideal blend of productivity and relaxation.</p>
            <p class="banner-text body">Discover hidden gems and share your experiences at different working spaces and coffee shops. Cofeed is your go-to platform to find the coziest corners, the quietest nooks, and the most inspiring atmospheres where you can sip on your favorite brew, leave insightful reviews, and evelate your study sessions.</p>
            <a class="join-button" href="/registration">Join Now!</a>
        </div>
    </div>

    <!--COFEED LETS YOU.. -->
    <div class="functionalities-block">
        <div class="serif">Cofeed lets you..</div>
        <div class="functionalities-list">
            <div class="functionalities">
                <i class="fa fa-eye"></i>
                <p>Discover new study spaces and coffee shops</p>
            </div>

            <div class="functionalities">
                <i class="fa fa-star"></i>
                <p>Review and rate places you've been to</p>
            </div>

            <div class="functionalities">
                <i class="fa fa-commenting"></i>
                <p>Share your reviews, follow friends and other members to read theirs</p>
            </div>
        </div>
        <div class="serif"><hr></div>
    </div>

    <!--RECENT REVIEWS -->
    <div class="recent-activity-block">
        <div class="recent-activity-block-text serif">Recent Reviews</div>
        {{#if noRecentReviews}}
        <div class="brewing">No recent reviews. Our brew buddies are still brewing up something to say.</div>
        {{else}}
        <!--RECENT REVIEWS CONTAINER -->
        <div class="recent-reviews-container">
        {{#each review-data}}    
            <div  class="review overflow margin-right">
                        
                <!--TOP PART / GREEN-->
                
                <div class="user-profile">
                    <div onclick="redirectToProfile('{{username}}')" class="profile-image-username-container">
                        {{> redirectProfile}}
                    </div>
                    <div class="review-ratings-container">
                        <p class="review-ratings">{{rating}}</p><i class="fa fa-star star-icon" id="reviewstar"></i>
                    </div>
                </div>
                
                <!--BOTTOM PART-->
                <div class="review-image-caption-container">
                    
                    <div class="review-photo-box">
                        <img class="review-photo" src="{{review_photo}}" alt="Review Picture">
                    </div>

                    <div class="review-text">
                    <a onclick="redirectToEstablishment('{{place_name}}')" class="place-name brown">{{place_name}}</a>
                    <p class="caption">{{caption}}</p>
                    <p class="date-posted">{{date}}</p>
                    
                    </div>

                    
                </div>
            </div>

        {{/each}}
        </div>
        {{/if}}
    </div>
</div>

<!-- container for the footer -->
<div class="parent-footer">
{{> footer}}
</div>