<!-- container for the header -->
<div class="parent-header">
    {{#if isLoggedIn}}
        {{#if isOwner}}
            {{> headerOwner}}
        {{else if isRater}}
            {{> headerUser}}
        {{else}}
            {{> headerNonUser}}
        {{/if}}
    {{else}}
        {{> headerNonUser}}
    {{/if}}
</div>


<!-- container for the content -->
<div class="parent-content-profile">
    <!-- profile information -->
    {{> profileInfo}}
    <div class="edit-prof">
        <a onclick="showEditWidget()">Edit Profile</a>
    </div>
    {{> profileInfoDiv}}
        
    <!-- following and followers -->
    {{> widgetProfile}}

    <!-- edit profile widget -->
    <div id="edit-widget" class="edit-widget-container">
        <p class="main"><b>Edit Profile</b></p>
        <button class="close-button" onclick="hideEditWidget()">X</button>
        <form name="update-user" action="/update-user" method="post" onsubmit="return updatingUserForm()" enctype="multipart/form-data">
            <div class="info-item">
                <label for="name">Name</label>
                <input type="text" id="name-field" value="{{user-data.name}}" placeholder="Enter your name">
            </div>
            <div class="info-item">
                <label for="username">Username</label>
                <input type="text" id="username-field" value="{{user-data.username}}" placeholder="Enter your username">
            </div>
            <div class="info-item">
                <label for="biotext">User Bio</label>
                <input type="text" id="bio-field" value="{{user-data.bio}}" placeholder="Update your bio">
            </div>
            <div class="info-item">
                <label for="email">Email</label>
                <input type="text" id="email" value="{{user-data.email}}" readonly>
            </div>
            <div class="info-item">
                <label for="password">Password</label>
                <input type="password" id="password-field" placeholder="Update your password">
                <img src="https://i.imgocean.com/eye-close6c91a6ac25495e1f.png" alt="eye" id="toggle-password" onclick="togglePasswordVisibility('password-field', 'toggle-password')">
            </div>
            <div class="photo-upload-container">
                <input type="file" accept="image/*" id="photo-upload" class="photo-upload" name="user_icon" onchange="previewPhoto(event)" enctype="multipart/form-data">
                <label for="photo-upload" class="change-photo-label"><i class="fa fa-camera"></i> Change Profile Picture</label>
            </div>
            <div class="photo-preview" id="photo-preview"></div>
            <input id="save-details" type="submit" value="Save"></input>
        </form>
    </div>

    <!-- user's favorite place and reviews -->
    <div class="blockc">
        <!-- favorite places -->
        <div class="main-area-titles">FAVORITE PLACES</div>
                
        <div class="horizontal-line"></div>
        {{#if noFavoritePlaces}}
            <div class="brewing">No favorite places yet.</div>
        {{else}}
        <div class="favorite-places widget" data-widget-id="1">
        {{#each establishment-data}}    
            <div class="favorite-place">
                <img src="{{banner_image}}" alt="Favorite Place">
                <div class="profpage-widget-details">
                    <span onclick="redirectToEstablishment('{{establishment_name}}')" class="fav-place-name">{{establishment_name}}</span>
                    <div class="profpage-menu">
                        <button class="reaction-btn option" onclick="unlikeWidget('{{establishment_name}}')">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                        </button> 
                        <div class="options">
                            <span>Unlike</span>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
        {{/if}}

        <!-- created coffee shop reviews -->
        <div class="main-area-titles">CREATED REVIEWS</div>
                
        <div class="horizontal-line"></div>
        {{#if noCreatedReviews}}
            <div class="brewing">No reviews created yet.</div>
        {{else}}
            <div class="coffee-shop-reviews widget" data-widget-id="2">
                {{#each review-data}}
                <div class="coffee-shop-review">
                    <img src="{{review_photo}}" alt="Coffee Shop Review">
                    <div class="profpage-widget-details">
                        <span onclick="redirectToEstablishment('{{place_name}}')" class="createdrev-place-name">{{place_name}}</span>
                        <div class="profpage-menu">
                            <button class="reaction-btn option" onclick="redirectToEstablishment('{{place_name}}')"><i class="fa fa-pencil" aria-hidden="true"></i> </button>
                            <button class="reaction-btn option" onclick="removeReview('{{review_photo}}')"><i class="fa fa-trash" aria-hidden="true"></i> </button>
                        </div>
                    </div>
                    <div class="sub-title">Review Title : {{review_title}}</div>
                </div>  
                {{/each}} 
            </div>
        {{/if}}

    </div>
</div>

<!-- container for the footer -->
<div class="parent-footer">
    {{> footer}}
</div>